{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" href="contact">Back</a>
{% endblock %}

{% block content %}

<form class="form" action="summary" method="post">

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Undertaking Name
    </dt>
    <dd class="govuk-summary-list__value">
      Cleaning & Supplies Ltd
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> undertaking name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact name
    </dt>
    <dd class="govuk-summary-list__value">
      Duncan Evans
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> contact name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Registered address
    </dt>
    <dd class="govuk-summary-list__value">
      Unit 258<br>Ormeau Business Park<br>Belfast<br>BT7 2JA
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> contact information</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact details
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">0044 28 9033 9906</p>
      <p class="govuk-body">d.evans@cleansup.com</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>
</dl>

    <br>
    <br>

  <button class="govuk-button" data-module="govuk-button">Accept & send</button>


</fieldset>

{% endblock %}
