{% extends "layout.html" %}

{% block pageTitle %}
  Sector
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="undertaking_address">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What is the industry sector of your undertaking?

      <form class="form" action="UK_or_ROW" method="post">
    </h1>
  </legend>
  <div class="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
        Road freight transport for hire or reward
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
        Primary production of agricultural products
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
        Fishery and aquaculture products
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
        Other
      </label>
    </div>
  </div>
  <br>
  <br>

<button class="govuk-button" data-module="govuk-button">Save & Continue</button>
</fieldset>
</div>

{% endblock %}
