{% extends "layout.html" %}

{% block pageTitle %}
  Summary
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    You have successfully created your undertaking
  </h1>
  <div class="govuk-panel__body">
    <br><strong>Cleaning & Supplies Ltd</strong>
  </div>
</div>
<br>
<h2 class="govuk-heading-m">What happens next?</h2>

<p>Your named contact will receive an email to understand that they will be acting as lead EORI etc blah.</p>

<p> <a href="account_home">Account home page</a></p>


</fieldset>

{% endblock %}
